@model LIDOM_MVC.Models.Partido

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Partido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParId" class="control-label"></label>
                <input asp-for="ParId" class="form-control" />
                <span asp-validation-for="ParId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParJuego" class="control-label"></label>
                <input asp-for="ParJuego" class="form-control" />
                <span asp-validation-for="ParJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParEquipoGanador" class="control-label"></label>
                <input asp-for="ParEquipoGanador" class="form-control" />
                <span asp-validation-for="ParEquipoGanador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParEquipoPerdedor" class="control-label"></label>
                <input asp-for="ParEquipoPerdedor" class="form-control" />
                <span asp-validation-for="ParEquipoPerdedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
