@model IEnumerable<LIDOM_MVC.Models.Posicione>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posiciones</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva posicion</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PosNombre)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.PosId }, new { @class = "btn btn-outline-danger me-1" })
                </td>
            </tr>
        }
    </tbody>
</table>
