@model LIDOM_MVC.Models.Temporada

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Temporada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="TemId" class="control-label"></label>
                <input asp-for="TemId" class="form-control" />
                <span asp-validation-for="TemId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TemNombre" class="control-label"></label>
                <input asp-for="TemNombre" class="form-control" />
                <span asp-validation-for="TemNombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TemFecInicio" class="control-label"></label>
                <input asp-for="TemFecInicio" class="form-control" />
                <span asp-validation-for="TemFecInicio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TemFecFinal" class="control-label"></label>
                <input asp-for="TemFecFinal" class="form-control" />
                <span asp-validation-for="TemFecFinal" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
