@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mb-4 pt-5">
        <img style="width: 150px; height: 150px;" src="https://uxwing.com/wp-content/themes/uxwing/download/flags-landmarks/dominican-republic-flag-round-circle-icon.png" />
        <img style="width: 150px; height: 150px;" src="https://uxwing.com/wp-content/themes/uxwing/download/sport-and-awards/ball-baseball-icon.svg" />
    </div>
    <h1 class="display-4" style="font-family: 'Montserrat', sans-serif;">Liga de Béisbol Profesional de la República Dominicana</h1>
</div>
